@layer components {

    /* Base button styles */
    .button {
        @apply rounded-full transition-all duration-300 ease-in-out transition-transform active:scale-95;
    }

    /* Variants */
    .button-primary {
        @apply button bg-primary border-2 border-primary hover:border-primary-hover text-white hover:bg-primary-hover duration-500 ease-in-out;
    }

    .button-secondary {
        @apply button text-primary border-primary border-2 hover:bg-primary hover:text-white duration-500 ease-in-out;
    }

    .button-tertiary {
        @apply button bg-primary/15 text-primary hover:bg-white;
    }

    .button-tertiary {
        @apply button bg-bggreen hover:bg-lightgrey;
    }

    .button-destructive{
        @apply button bg-red-100 hover:bg-red-100 text-red-500;
    }

    .button-invisible{
        @apply button bg-transparent text-darkgrey hover:bg-lightgrey;
    }

    .button-disabled {
        @apply button bg-lightgrey text-darkgrey cursor-not-allowed;
    }

    .button-invisible{
        @apply button hover:bg-lightgrey;
    }

    .button-icon{
        @apply button items-center justify-center flex flex-row gap-2;
    }

    /* Sizes */
    .button-sm {
        /* 20px */
        @apply px-4 py-2.5 text-xl font-normal; 
    }

    .button-md {
         /* 24px */
        @apply px-5 py-2.5 text-2xl font-normal;
    }

    .button-lg {
         /* 30px */
        @apply px-8 py-4 text-3xl font-normal;
    }

    .button-xl {
        @apply px-12 py-2.5 text-4xl font-normal;
    }
}